.zoom,.zoomMerch {
  transition: transform 0.2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.1);
}
.zoomMerch:hover{
    transform: scale(1.1);
}
.cartbtn {
  padding: 1%;
  margin-left: 40%;
  margin-top: 20px;
}
.Cartbadge  {
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  width: 100%;
  margin-left: 50%;
  
}